body{
    background-color: beige;
    padding: 0;
    margin: 0;
}

#navbar-brand{
    background-color: orange;
    padding: 2rem;
    color: rgb(36, 110, 110);
}


.jumbotron{
    background-color: orange;
    color: rgb(36, 110, 110);
}

#learnMore{
    margin-left: 14rem;
}

#icon{
    margin:0;
}


footer{
    background-color: orange;
    padding: 1.5rem;
    border-top: 4px solid rgb(36, 110, 110);
}

@media screen and (max-width: 768px) {
    #navbar-brand{
        width: 100%;
        height: 100%;

    }
}

/* screen sizes: 640, 768, 980 */

@media screen and (max-width: 640px) {
    #blemon{
         margin: 4.5rem;
    }

    #learnMore {
        margin-left: 9rem;
    }
}



@media screen and (max-width: 768px) {
    #blemon{
        width: 450px;
        height: 450px;
    }
    #icon1{
        margin-left: 3rem;
    }
    #learnMore {
        margin-left: 12rem;
    }
};





