body{
    background-color: beige;
    padding: 0;
    margin: 0;
}

#navbar-brand{
    background-color: orange;
    padding: 2rem;
    color: rgb(36, 110, 110);
}


.jumbotron{
    background-color: orange;
    color: rgb(36, 110, 110);
}

#learnMore{
    margin-left: 14rem;
}

#icon{
    margin:0;
}

footer{
    margin-top: 4rem;
    background-color: orange;
    padding: 1.5rem;
    border-top: 4px solid rgb(36, 110, 110);
}

input.form-control::placeholder, textarea.form-control::placeholder {
    opacity: 0.4;
    color: purple;
}

.btn {
    background-color: #246e6e;
    border: none;
}


#caption{
    margin-top: -3rem;
    text-align: center;
    border: 1px solid  #246e6e;
    background-color: rosybrown;
    font-weight: 700;
}





#portImgSign{
    margin-left: 35px
}



/* 980px contact */
@media screen and (min-width: 980px){

    #contact{
        margin-right: 300px
    }
    footer{
        background-color: orange;
        padding: 1.5rem;
        border-top: 4px solid rgb(36, 110, 110);
        margin-top: 5rem;
    }
};







    
/* navbar */
@media screen and (max-width: 768px) {
    #navbar-brand{
        width: 100%;
        height: 100%;

    }
}



/* About 640px, 768px, 980px */

@media screen and (max-width: 640px) {
    #blemon{
         margin: 4.5rem;
    }
    #learnMore {
        margin-left: 9rem;
    }
}

@media screen and (max-width: 768px) {
    #blemon{
        width: 450px;
        height: 450px;
    }
    #icon1{
        margin-left: 3rem;
    }
    #learnMore {
        margin-left: 12rem;
    }
};





